<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="eventName" class="model.Event"></bean>
	<bean id="participant" class="model.Participant"></bean>

	<bean id="happinessIndex" class="model.HappinessIndex" autowire="byName">
		<property name="participant" ref="participant" />
		<property name="eventName" ref="eventName" />
	</bean>

</beans>